<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieHall</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>
@{
        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        bool showSearch = currentController == "Movie"
                        || currentController == "Anime"
                        || currentController == "ItemView";
}
<body data-controller="@currentController" data-type="@ViewBag.Type">
    <header class="container-fluid">
        <nav class="row">
            <div class="col-3 d-flex">
                <a id="logo" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/MovieTicketW.png" alt="Logo" />
                </a>
            </div>

            @* search *@
            <div class="col-6 d-flex justify-content-center">
                @if (showSearch)
                {
                    <div id="search" class="position-relative d-flex align-items-center">
                        <div class="d-flex align-items-center">
                            <input id="searchInput" class="ps-1" type="text" placeholder="Suche..." autocomplete="off" />
                            <a id="searchButton" class="d-flex" asp-area="" asp-controller="Search" asp-action="Index">
                                <img src="~/img/lupe.png" alt="Search" />
                            </a>
                        </div>

                        @* Dropdown für Autocomplete *@
                        <ul id="searchResults" class="list-group position-absolute" style="display:none;">
                        </ul>
                    </div>
                }
            </div>

            <div class="col-3 d-flex justify-content-end">
                <div class="d-flex align-items-center justify-content-end nav-link">
                    <a id="settings" class=" p-0 w-75" asp-area="" asp-controller="Settings" asp-action="Index">
                        <img class="w-100" src="~/img/settings.png" alt="Settings" />
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/layout.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>