@model MovieHall.ViewModels.AnimeVM
@{
    ViewData["Title"] = "Anime";
}



<button class="btn btn-primary mb-3" id="openCreateAnimeModal">Neuer Anime</button>

<section id="anime" class="my-5">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="body-HD-size">

                @* AJAX-Container *@
                <div id="animeContainer">
                    @await Html.PartialAsync("~/Views/Anime/_AnimeListPartial.cshtml", Model)
                </div>
                
            </div>
        </div>
    </div>
</section>



@*------------------------------ Anime (Create | Edit | Delete)------------------------------*@

@*Modal für Create/Edit *@

<div class="modal fade" id="animeModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="animeModalContent">
            @* Inhalt von PartialView wird hier per JS geladen *@
        </div>
    </div>
</div>

@*Modal für Delete *@
<div class="modal fade" id="deleteAnimeModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deleteAnimeForm">
                <div class="modal-header">
                    <h5 class="modal-title">Film löschen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="deleteAnimeId" />
                    <p>Soll der Film <strong>"<span id="deleteAnimeName"></span>"</strong> wirklich gelöscht werden?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-danger">Löschen</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/animes.js"></script>
}
