@model MovieHall.Models.Setting
@{
    ViewData["Title"] = "Home";    
}


<section id="home" class="d-flex">
    <div class="w-50 p-2">
        <a asp-area="" asp-controller="Movie" asp-action="Index" class="w-100">
            <img class="w-100" src="@ViewData["MovieImg"]" alt="" />
        </a>
    </div>

    <div class="w-50 p-2">
        <a asp-area="" asp-controller="Anime" asp-action="Index" class="w-100">
            <img class="w-100" src="@ViewData["AnimeImg"]" alt="" />
        </a>
    </div>
</section>