/* --- Web Colors --- */
/* Purple */
/*  (elems to klick -> hover text) */
/*  (elems klick text) */
/*  (elems border/ backgrount) */
/* Background gray */
/*  (back if you neet the nather tow) */
/*  (base backrount) */
/*  () */
/*Text Colors*/
/*  *  */
/*  **  */
/* --- Base Styles --- */
/*------------------  Body ------------------*/
body {
  height: 100vh;
  background-color: #0e0e0e;
  color: #ccc !important;
}

th,
td {
  color: #ccc;
}

main {
  padding-top: 80px;
}

/*------------------  Navbar ------------------*/
header {
  background-color: #1c1c1c;
  position: fixed;
  height: 80px;
}

#search > div {
  background-color: #0e0e0e;
  border-radius: 5px;
}

#search input {
  border-radius: 5px 0 0 5px;
  background-color: transparent;
  height: 34px;
}

#search input:hover,
#search input:focus,
#search img:hover,
#search img:focus {
  background-color: #2e2e2e;
}

#search img {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  border-radius: 0 5px 5px 0;
  padding: 5px;
}

/*------------------  Forms ------------------*/
[type=checkbox] {
  border: 1px solid #ccc;
}

/*------------------  Popups ------------------*/
.btn-close {
  filter: brightness(0) saturate(100%) invert(85%) sepia(3%) saturate(75%) hue-rotate(359deg) brightness(98%) contrast(89%);
}

.checkbox-popup {
  padding: 0 1rem;
}

/*------------------  Home ------------------*/
#home {
  height: 90vh;
}
#home > div {
  align-content: center;
}
#home img {
  height: 90%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#home img:hover {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}

/*------------------ Settings ------------------*/
#genre table,
#setting table,
#WatchedWith table {
  width: 100%;
  table-layout: fixed;
}
#genre .tbl-header,
#setting .tbl-header,
#WatchedWith .tbl-header {
  background-color: #2e2e2e;
  border-radius: 5px 5px 0 0;
}
#genre .tbl-content,
#setting .tbl-content,
#WatchedWith .tbl-content {
  border: 1px solid #2e2e2e;
  border-radius: 0 0 5px 5px;
  max-height: 300px;
  overflow-x: auto;
  margin-top: 0px;
}
#genre th,
#setting th,
#WatchedWith th {
  color: #ddd;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
#genre td,
#setting td,
#WatchedWith td {
  border-bottom: solid 1px #2e2e2e;
  color: #ddd;
  padding: 15px;
  vertical-align: middle;
  text-align: center;
}
#genre tr:nth-child(even),
#setting tr:nth-child(even),
#WatchedWith tr:nth-child(even) {
  background-color: #010101;
}

#settingHome > div {
  align-content: center;
}
#settingHome a {
  cursor: pointer;
}
#settingHome img {
  height: 100%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#settingHome img:hover {
  opacity: 0.3;
}

.modal-content {
  background-color: #1c1c1c;
}
.modal-content input:hover,
.modal-content input:focus,
.modal-content select:hover,
.modal-content select:focus {
  background-color: #2e2e2e;
  color: #ddd;
}
.modal-content input,
.modal-content select {
  border-radius: 5px 0 0 5px;
  background-color: transparent;
  color: #ddd;
}
