// Utilities
@import "variables.scss";




/*------------------ All ------------------*/
.body-HD-size {
    width: 1920px !important                                                                                                                                                                                                                                                                                             ;
}

.form-control {
    border-color: $text-col-dark;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: $text-col-dark !important;
    color: $text-col-bright !important;
}

.form-control:focus-visible {
    outline: none !important;
}

a {
    text-decoration: none !important;
}

textarea {
    background-color: #1c1c1c !important;
}


/*------------------ Body ------------------*/
body {
    height: 100vh;
    background-color: $back-gray-normal;
    color: $text-col-dark !important;
}

th, 
td{
    color: $text-col-dark;
}

main {
    padding-top: $haeder-height;
}

/*------------------ Navbar ------------------*/
header {
    background-color: $back-gray-bright;
    position: fixed;
    height: $haeder-height;
    z-index: 1;
}

#search {
    width: 30%;

    > div {
        background-color: $back-gray-normal;
        border-radius: $base-border-radius;
        width: 100%;
    }

    input {
        border-radius: $base-border-radius 0 0 $base-border-radius;
        background-color: transparent;
        height: 34px;
        width: 100%;
    }

    > div input:hover,
    > div input:focus,
    > div img:hover,
    > div img:focus {
        background-color: $back-gray-light;
    }

    img {
        @include transition($base-transition);
        border-radius: 0 $base-border-radius $base-border-radius 0;
        padding: 5px;
    }

    > ul {
        border-radius: $base-border-radius;
        top: 80%;
        z-index: 10000;
        background-color: $back-gray-light;
        border: none;
        padding: .125rem 0;
        width: 100%;
        box-shadow: 0px 0px 5px $back-gray-dark;

        > a {
            background-color: $back-gray-bright;
            margin: .125rem .25rem !important;

            img {
                width: 25%;
                margin-right: 8px;
            }

            span {
                color: $text-col-bright;
            }
        }

        > a:hover {

            span {
                text-shadow: 0px 0px 5px #fff;
            }
        }
    }
}


#settings img {
    @include transition($base-transition);
}
#settings:hover img {
    opacity: 0.7;
    filter: drop-shadow(0px 0px 1px $text-col-dark);
}

#logo img {
    @include transition($base-transition);
}
#logo:hover img {
    opacity: 0.7;
    filter: drop-shadow(0px 0px 3px $text-col-dark);
}

/*------------------ Forms ------------------*/

[type="checkbox"] {
    border: 1px solid $text-col-dark;
}



/*------------------ Popups ------------------*/

.btn-close {
    filter: brightness(0) saturate(100%) invert(85%) sepia(3%) saturate(75%) hue-rotate(359deg) brightness(98%) contrast(89%);
}

.checkbox-popup {
    padding: 0 1rem;
}


/*------------------ Home ------------------*/

#home {
    height: 90vh;

    > div {
        align-content: center;
    }

    img {
        height: 90%;
        @include transition($base-transition);
    }

    img:hover {
        @include transform(translateY(-6px));
    }
}


/*------------------ Anime/Movie ------------------*/

/* add row space */
.extra-space {
    display: flex;
    justify-content: center;

    .extra-fill {
        width: 70%;
        margin: 0 50px;
    }

    .extra {
        width: 14%;
        display: flex;
        justify-content: end;
    }
}

.checkbox-popup label{
    cursor: pointer;
}

.form-check-input:checked {
    border-color: $text-col-dark;
    background-color: transparent;
}

.form-check-input:focus {
    border-color: $text-col-dark;
    box-shadow: 0 0 0 .25rem rgba(204,204,204,.25);
}



.under-content {
    display: flex;
    justify-content: center;

    .under-content-container {
        width: 90%;
        border-radius: $base-border-radius;
        display: flex;
        justify-content: space-between;

        .under-content-info {
            background-color: $back-gray-bright;
            border-radius: $base-border-radius;
            padding: 5px;
        }
    }
}

#note {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;

    button {
        background-color: transparent;
        border: none;
    }

    .gallery-container {
        overflow: hidden;
        width: 100%;
        position: relative;
    }

    .gallery-track {
        display: flex;
        transition: transform 0.4s ease;
    }

    .note-elem {
        background-color: $back-gray-bright;
        border-radius: $base-border-radius;
        flex: 0 0 calc(25% - 1rem);
        box-sizing: border-box;
        transition: transform 0.2s;
        min-width: 200px;

        .note-L {
            width: 30%;
        }

        .note-R {
            width: 70%;
            align-content: center;
            text-align: center;
        }

        img {
            padding: 0px;
            border-radius: $base-border-radius;
        }
    }

    .note-elem:hover {
        img {
            box-shadow: 0px 0px 10px $back-gray-lightlight;
        }

        .note-R {
            text-shadow: 0px 0px 5px #fff;
        }
    }
}

#toggleNote:checked ~ #note {
    max-height: 300px;
    opacity: 1;
}


/*------------------ Anime ------------------*/
#anime {
    .w-100 {
        padding: 0 8px;
    }

    .item {
        position: relative;
        display: inline-block;
        margin: 8px;
        width: 14%;
        aspect-ratio: 80/120;

        img {
            vertical-align: top;
            position: absolute;
            overflow: hidden;
            border: 0 none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: $base-border-radius;
            box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .1) inset;
        }

        .itemName {
            background: rgba(0, 0, 0, .7);
            border-radius: 4px 4px 0 0;
            position: absolute;
            width: 100%;
            aspect-ratio: 80/112;
            top: 0;
            left: 0;
            opacity: 0;
            text-align: center;
            @include transition(all .3s ease);

            p {
                position: relative;
                font-size: 20px;
                padding: 5px;
                top: 100px;
                color: $text-col-dark;
            }
        }

        .itemName:hover {
            opacity: 1;
        }

        .itemInfoBox {
            background: rgba(0, 0, 0, .7);
            border-radius: 0 0 4px 4px;
            position: absolute;
            padding: 3px;
            width: 100%;
            aspect-ratio: 80/8;
            bottom: 0;
            left: 0;
            align-content: center;
            font-size: 13px;

            .itemInfoSup {
                overflow: hidden;
                width: 13%;
                align-content: center;

                .itemInfoBack {
                    background-color: #502987;
                    @include transform(skew(154deg));
                    border-radius: 2px;
                    position: relative;
                    overflow: hidden;
                    height: 20px;
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    left: -4px;
                    color: $text-col-dark;

                    .itemInfoEp {
                        @include transform(skew(28deg));
                        width: 85%;
                        font-weight: 600;
                    }
                }
            }

            .itemInfoSup2 {
                width: 13%;
                align-content: center;

                .itemInfoBack {
                    background-color: #502987;
                    @include transform(skew(154deg));
                    border-radius: 2px;
                    position: relative;
                    overflow: hidden;
                    height: 20px;
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    left: -4px;
                    color: $text-col-dark;

                    .itemInfoEp {
                        @include transform(skew(28deg));
                        width: 85%;
                        font-weight: 600;
                    }
                }
            }
        }

        @media only screen and (max-width: 1530px) {
        }
    }

    .extra-space {
        .extra-fill {
            width: 42%;
            margin: 0;
        }

        .extra {
            width: 42%;
            margin-left: 100px;
            text-align: end;
            align-content: end;
            display: block;

            span {
                position: relative;
                top: -2px;
            }
        }

        .btn-primary {
            border: 2px solid $back-gray-bright !important;
        }

        .aktiv-btn {
            background-color: $back-gray-normal;
        }

        .aktiv-btn:hover {
            background-color: $back-gray-bright;
        }

        .disabled {
            background-color: $back-gray-bright;
        }
    }
}

@media only screen and (max-width: 1530px) {
    #anime {
        .item {
            .itemInfoBox {
                .itemInfoSup, .itemInfoSup2 {
                    width: 16%;
                }
            }
        }
    }
}

/*------------------ Movie ------------------*/

#movie {

    .w-100 {
        padding: 0 8px;
    }

    .item {
        position: relative;
        display: inline-block;
        margin: 8px;
        width: 14%;
        aspect-ratio: 80/120;

        img {
            vertical-align: top;
            position: absolute;
            overflow: hidden;
            border: 0 none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: $base-border-radius;
            box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .1) inset;
        }

        div {
            background: rgba(0, 0, 0, .7);
            border-radius: 4px 4px 0 0;
            position: absolute;
            width: 100%;
            aspect-ratio: 80/112;
            top: 0;
            left: 0;
            opacity: 0;
            text-align: center;
            @include transition(all .3s ease);

            p {
                position: relative;
                font-size: 20px;
                padding: 5px;
                top: 100px;
                color: $text-col-dark;
            }
        }

        div:hover {
            opacity: 1;
        }

        span {
            background: rgba(0, 0, 0, .7);
            border-radius: 0 0 4px 4px;
            position: absolute;
            padding: 3px;
            width: 100%;
            aspect-ratio: 80/8;
            bottom: 0;
            left: 0;
        }
    }
    /* add row space */
    .extra-space {

        .extra {

            select {
                width: 100px;
                color: $text-col-dark;
                background-color: $back-gray-light;
            }

            select:hover {
                cursor: pointer;

                option:hover {
                    cursor: pointer;
                }
            }

            select:focus {
                background-color: $back-gray-light;
            }
        }
    }

    .under-content .under-content-container {
        background-color: transparent;
    }

    .page-item {
        img {
            margin-top: -5px;
        }
    }
}


/*------------------ Settings ------------------*/

#genre,
#setting,
#WatchedWith {

    table {
        width: 100%;
        table-layout: fixed;
    }

    .tbl-header {
        background-color: $back-gray-light;
        border-radius: $base-border-radius $base-border-radius 0 0;
    }

    .tbl-content {
        border: 1px solid $back-gray-light;
        border-radius: 0 0 $base-border-radius $base-border-radius;
        max-height: 300px;
        overflow-x: auto;
        margin-top: 0px;
    }

    th {
        color: $text-col-bright;
        padding: 10px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }

    td {
        border-bottom: solid 1px $back-gray-light;
        color: $text-col-bright;
        padding: 15px;
        vertical-align: middle;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: $back-gray-dark;
    }
}

#settingHome {

    > div {
        align-content: center;
    }

    a {
        cursor: pointer;
    }

    img {
        height: 100%;
        @include transition($base-transition);
    }

    img:hover {
        opacity: 0.3;
    }
}

.modal-content {
    background-color: $back-gray-bright;

    input:hover,
    input:focus, 
    select:hover, 
    select:focus {
        background-color: $back-gray-light;
        color: $text-col-bright;
    }

    input,
    select {
        border-radius: $base-border-radius;
        background-color: transparent;
        color: $text-col-bright;
    }
}


/*------------------ Item View ------------------*/

#ItemView {
    .forece-padding {
        padding: 0 calc(var(--bs-gutter-x) * .5);
    }

    .itemView-edit-content {
        position: absolute;

        .item-btn-edit {
            border: none;
            background: none;
            background-color: $back-gray-lightlight;
            border-radius: $base-border-radius;

            @include transition($base-transition);

            img {
                padding: 2px;
            }
        }

        .item-btn-edit:hover {
            opacity: 0.7;
        }
    }

    .item-btn-delete {
        border: none;
        background: none;
        border-radius: $base-border-radius;

        @include transition($base-transition);

        img {
            padding: 2px;
        }
    }

    .item-btn-delete:hover {
        opacity: 0.7;
    }

    .itemFam {
        background-color: $back-gray-bright;
        border-radius: $base-border-radius;
        padding: 0.5rem 0;
        color: $text-col-dark !important;
        text-shadow: none;
    }

    .itemFam:hover {
        text-shadow: 0px 0px 5px #fff;
        background-color: $back-gray-normal;

        img {
            box-shadow: 0px 0px 5px #fff;
        }
    }

    .itemFam-aktiv {
        background-color: $back-gray-normal !important;
        pointer-events: none;
        cursor: default;
    }

    .itemFam-aktiv:hover {
        text-shadow: none !important;

        img {
            box-shadow: none !important;
        }
    }


    .anime-info {
        button {
            padding: .2rem .75rem;

            .rewatch-minus {
                position: relative;
                top: -3px;
            }

            .rewatch-plus {
                position: relative;
                top: -3px;
            }
        }
    }

    .mini-info,
    .anime-notes,
    .movie-notes {
        background-color: $back-gray-bright;
        border-radius: $base-border-radius;
        color: $text-col-dark;

        .notes {
            width: 80%;
            border: none;
            background: none;
            border-radius: $base-border-radius;

            img {
                width: 100%;
            }

            img:hover {
                background-color: $back-gray-light;
                box-shadow: 0px 0px 10px $back-gray-lightlight;
            }

            :focus-visible {
                border: none;
                outline: none;
            }
        }
    }

    #createAnimeNoteForm {
        img {
            width: 30%;
        }
    }

    .anime-notes:hover,
    .movie-notes:hover {
        text-shadow: 0px 0px 5px #fff;

        img {
            box-shadow: 0px 0px 3px #fff;
        }
    }

    .note-elem {
        button {
            border: none;
            background: none;
        }

        button:hover {
            background-color: $back-gray-light;
            border-radius: $base-border-radius;
        }
    }

    .note-L {
        width: 30%;

        img {
            width: 100%;
        }
    }

    .note-R {
        width: 70%;
        align-content: center;
        margin: 0;
    }
}


/*------------------ Search ------------------*/

#Search {


    .search-input {
        background-color: $back-gray-bright;
        border-radius: $base-border-radius;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: fit-content;

        input {
            width: 85%;
        }
    }

    .filter-popup {
        width: 40%;
    }

    .filter-dropdown {
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.4s ease, opacity 0.3s ease, z-index 0.4s ease;
        background-color: $back-gray-bright;
        border-radius: $base-border-radius;
        width: fit-content;
        position: absolute;
        z-index: -1;

        .gernes {
            border: 1px solid $back-gray-lightlight;
            border-radius: $base-border-radius;
        }

        .filter-plus {
            text-align: center;
            display: flex;
            justify-content: space-around;
        }

        select {
            border: none;
            border-radius: $base-border-radius;
            background-color: $back-gray-bright;
            color: $text-col-dark;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
            text-align: center;
        }

        .parent-filter,
        .country-filter,
        .ww-filter,
        .fsk-filter {
            border: 1px solid $text-col-dark;
            border-radius: $base-border-radius;
            height: fit-content;

            label {
                margin: 0 !important;
            }
        }

        .form-check {
            text-align: left;
        }

        input {
            cursor: pointer;
        }

        .form-check-input {
            border-color: #ccc;
            background-color: transparent;
        }
    }

    #toggleFilter:checked ~ .filter-dropdown {
        opacity: 1;
        z-index: 9999;
    }
}

#SearchContent {

    .search-anime {
        padding: 0 8px;

        .item {
            position: relative;
            display: inline-block;
            margin: 8px;
            width: 14%;
            aspect-ratio: 80/120;

            img {
                vertical-align: top;
                position: absolute;
                overflow: hidden;
                border: 0 none;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: $base-border-radius;
                box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .1) inset;
            }

            div {
                background: rgba(0, 0, 0, .7);
                border-radius: 4px 4px 0 0;
                position: absolute;
                width: 100%;
                aspect-ratio: 80/112;
                top: 0;
                left: 0;
                opacity: 0;
                text-align: center;
                @include transition(all .3s ease);

                p {
                    position: relative;
                    font-size: 20px;
                    padding: 5px;
                    top: 100px;
                    color: $text-col-dark;
                }
            }

            div:hover {
                opacity: 1;
            }

            span {
                background: rgba(0, 0, 0, .7);
                border-radius: 0 0 4px 4px;
                position: absolute;
                padding: 3px;
                width: 100%;
                aspect-ratio: 80/8;
                bottom: 0;
                left: 0;
            }
        }
    }

    .search-movie {
        padding: 0 8px;

        .item {
            position: relative;
            display: inline-block;
            margin: 8px;
            width: 14%;
            aspect-ratio: 80/120;

            img {
                vertical-align: top;
                position: absolute;
                overflow: hidden;
                border: 0 none;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: $base-border-radius;
                box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .1) inset;
            }

            div {
                background: rgba(0, 0, 0, .7);
                border-radius: 4px 4px 0 0;
                position: absolute;
                width: 100%;
                aspect-ratio: 80/112;
                top: 0;
                left: 0;
                opacity: 0;
                text-align: center;
                @include transition(all .3s ease);

                p {
                    position: relative;
                    font-size: 20px;
                    padding: 5px;
                    top: 100px;
                    color: $text-col-dark;
                }
            }

            div:hover {
                opacity: 1;
            }

            span {
                background: rgba(0, 0, 0, .7);
                border-radius: 0 0 4px 4px;
                position: absolute;
                padding: 3px;
                width: 100%;
                aspect-ratio: 80/8;
                bottom: 0;
                left: 0;
            }
        }
    }
}