// Utilities
@import "variables.scss";

/*--------scrollbar--------*/
* {
    scrollbar-width: thin;
    scrollbar-color: $back-gray-lightlight $back-gray-light;
}

/* Chrome/Safari */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $back-gray-light;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $back-gray-lightlight;
}

img {
    border-radius: $base-border-radius;
}

a {
    color: $text-col-dark;
}
a:hover {
    color: $text-col-dark;
}

input {
    @include transition($base-transition);
    background: $back-gray-bright;
    border-radius: $base-border-radius;
    color: $text-col-bright;

    border: none;
    outline: none;
}

input:focus {
    background: $back-gray-light;
    color: $text-col-dark;
}

[type="checkbox"] {
    cursor: pointer;
}

textarea {
    color: $text-col-dark !important;
}

.btn {
    border-radius: $base-border-radius;
}

.btn-primary {
    background-color: $back-gray-light;
    border: $back-gray-light;
    color: $text-col-dark;
    @include transition($base-transition);
}

.btn-primary:hover {
    background-color: $back-gray-lightlight;
    border: $back-gray-lightlight;
    color: $text-col-bright;
}

.btn-primary:active {
    color: $text-col-bright;
    background-color: $back-gray-lightlight;
    border: none !important;
    outline: none !important;
}

.btn-primary:focus {
    background-color: $back-gray-lightlight;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.btn-primary:focus-visible {
    background-color: $back-gray-lightlight;
    outline: none !important;
    border: none !important;
}

.active .btn-primary {
    color: $text-col-bright !important;
    background-color: $back-gray-lightlight !important;
    border: none !important;
    outline: none !important;
}

.disabled .btn-primary {
    background-color: $back-gray-light !important;
    border: $back-gray-light !important;
    border: none !important;
    outline: none !important;
    opacity: 0.5;
}
.rotate-90 {
    transform: rotate(90deg);
}
.rotate-180 {
    transform: rotate(180deg);
}

/*Elem color Style*/
.elemColorStyle-1s {
    background: $back-gray-bright;
    border-radius: $base-border-radius;
    color: $back-gray-lightlight;
}

.elemColorStyle-1 {
    background: $back-gray-bright;
    border-radius: $base-border-radius;
    color: $back-gray-lightlight;
}

.elemColorStyle-1:focus {
    background-color: $back-gray-light;
}

.elemColorStyle-2s {
    background: $back-gray-normal;
    border-radius: $base-border-radius;
    color: $back-gray-lightlight;
}

.elemColorStyle-2 {
    background: $back-gray-normal;
    border-radius: $base-border-radius;
    color: $back-gray-lightlight;
}

.elemColorStyle-2:focus {
    background-color: $back-gray-light;
}


/*Elem action Style*/

.elemActionStyle {
    @include transition($base-transition);
}

.elemActionStyle:hover {
    background: $back-gray-light;
    color: $text-col-bright;
}



.click-text {
    cursor: pointer;
    color: $col-pur-bright;
    text-decoration: none;
}

.click-text:hover {
    color: $col-pur-light;
}
