/* --- Web Colors --- */

/* Purple */
$col-pur-dark: #5a2e98;
$col-pur-normal: #8c5ece; /*  (elems to klick -> hover text) */
$col-pur-bright: #a885da; /*  (elems klick text) */
$col-pur-light: #c4ace6; /*  (elems border/ backgrount) */

/* Background gray */
$back-gray-dark: #010101; /*  (back if you neet the nather tow) */
$back-gray-normal: #0e0e0e; /*  (base backrount) */
$back-gray-bright: #1c1c1c; /*  () */
$back-gray-light: #2e2e2e;

$back-gray-lightlight: #777;

/*Text Colors*/
$text-col-dark: #ccc; /*  *  */
$text-col-bright: #ddd; /*  **  */


/* --- Base Styles --- */
$base-transition:all 0.4s ease-out;
$base-border-radius: 5px;

$haeder-height: 80px;


@mixin transition ($var) {
    -webkit-transition: $var;
    -moz-transition: $var;
    -o-transition: $var;
    transition: $var;
}

@mixin transform ($var) {
    -webkit-transform: $var;
    -moz-transform: $var;
    -o-transform: $var;
    transform: $var;
}